$primary-color: #a1e5ab;
$primaryFocused-color: #8fcc99;

$secondary-color: #eeeeee;
$secondaryFocused-color: #a1e5ab;

$accent-color: #f59a23;
$accentFocused-color: #f5c423;

$primary-text: #333333;

$description-text: #7f7f7f;

$success-color: #4caf50;
$info-color: #00bcd4;
$warning-color: #fb8c00;
$error-color: #f44336;